<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MYnotepad</title>
        <link rel="icon" href="" type="icon/">
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <meta name="description" content="This is my personal notepad">
        <link rel="stylesheet" href="../style2.css" type="text/css">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="err-page">
        <p>could not Successfully saved</p>
        </div>
    </body>
</html>