<!DOCTYPE html>
<html lang="en">
    <head> 
  <title>MYnotepad</title>
  <link rel="icon" href="" type="icon/">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <link rel="stylesheet" href="style.css" type="text/css">
  <meta name="description" content="This is my personal notepad">
  <meta charset="utf-8">
    </head>
    <body>
        <form action="saveNote" method="post">
  <textarea rows="5" cols="20" name="notes"></textarea>
  <button type="submit" accesskey="b">Save</button>
  </form>
    <form action="/getyour" method="get">
    <button type="submit">go to my note</button>
  </form>
    </body>
</html>