<!DOCTYPE html>
<html lang="en">
    <head> 
  <title>MYnotepad</title>
  <link rel="icon" href="" type="icon/">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <link rel="stylesheet" href="style.css" type="text/css">
  <meta name="description" content="This is my personal notepad">
  <meta charset="utf-8">
    </head>
    <body>
      <h1 id="mpn">MY personal notepad</h1>
      
        <form action="saveNote" method="post">
          <div id="frtxt">
    <textarea rows="5" cols="20" name="notes" id="texar"></textarea>
    </div>
  <button type="submit" accesskey="b" id="btn-1">Save</button>
  </form>
    <form action="/getyour" method="get" id="myn">
    <button type="submit" accesskey="n">go to my note</button>
  </form>
  <div id="shortc">
    <h3>Shortcuts</h3>
  <ol>
    <li>ALT+b = Save</li>
    <li>ALT+n = Go to my note</li>
  </ol>
  </div>
    </body>
</html>