<!DOCTYPE html>
<html lang="en">
    <head>
<title>MYnotepad</title>
  <link rel="icon" href="" type="icon/">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <link rel="stylesheet" href="../authentication.css" type="text/css">
  <meta name="description" content="This is my personal notepad">
  <meta charset="utf-8">
    </head>
    <body>
      <form action="/login" method="post">
  <label for="e">Enter your username</label>
  <input type="text" id="e" name="username2">
  <label for="f">Enter your password</label>
  <input type="password" id="f" name="password2">
  <input type="submit" value="go">
  </form>
    </body>
  </html>