<!DOCTYPE html>
<html lang="en">
    <head>
<title>MYnotepad</title>
  <link rel="icon" href="" type="icon/">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <link rel="stylesheet" href="../regis.css" type="text/css">
  <meta name="description" content="This is my personal notepad">
  <meta charset="utf-8">
    </head>
    <body>
      <div class="main">
      <form action="/regis" method="post">
  <label for="a">Create your username</label>
  <br>
  <br>
  <input type="text" name="username" id="a" required>
  <br>
  <br>
  <label for="b">Create your password</label>
  <br>
  <br>
  <input type="password" pattern="{8,}" required name="password">
  <br>
  <br>
  <label for="a">Create your id</label>
  <br>
  <br>
  <input type="text" name="sid" id="c" required>
  <br>
  <br>
  <input type="submit" value="save" >
  </form>
  </div>
    </body>
  </html>