<!DOCTYPE html>
<html lang="en">
    <head> 
  <title>MYnotepad</title>
  <link rel="icon" href="" type="icon/">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <link rel="stylesheet" href="style.css" type="text/css">
  <meta name="description" content="This is my personal notepad">
  <meta charset="utf-8">
    </head>
    <body>
        <h1 id="note">Hello your data will be in front of you after clicking this button</h1>
        <form action="/savednotesapi" method="get">
          <input type="submit" value="get data" id="gdt">
        </form>
        
    </body>
</html>